<ion-header>
  <ion-toolbar>
    <ion-title float-left>Modal</ion-title>
    <ion-button (click)="cerrarModal()" float-right color="danger">Cerrar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Modal</h1>
  <ion-card>
      <ion-card-header>
        <ion-card-title>ionic</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-img src="/assets/ionic.png"></ion-img>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </ion-content>
