<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let fruta of frutas; let i = index">
        <ion-avatar>
          <img src="{{fruta.img}}">
        </ion-avatar>
        <ion-label>{{fruta.name}}</ion-label>
        <div>
        <ion-button id="playApple" (click)="play(fruta.url, i)">
          <ion-icon name="play" *ngIf="fruta.status"></ion-icon>
          <ion-icon name="pause" *ngIf="!fruta.status"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
